<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

<main>
    <div class="title-selling">
        <h1>Los más vendidos</h1>
    </div>
    <div class="main-container">
        <%- include('../partials/adds') %>
        <div class="container-selling">
            <section class="best-selling">
                <% for(let i=0;i<products.length;i++){%>
                    <% if(products[i].section == 'sellers'){ %>
                        <a href="/product/<%=products[i].id%>">
                        <div class="card">
                            <img src="<%=products[i].imageUri%>" alt="imagen-game">
                            <h4><%=products[i].name%></h4>
                            <p class="price"><%=products[i].value %> - <span><a href="/<%=products[i].id %>">COMPRAR</a></span></p>
                        </div>
                    </a>
                    <%} %>
                <%} %>
            </section>
        </div>
    </div>
</main>

  <%- include('../partials/footer') %>
</body>

</html>