<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
      <main class="new-product-main" id="main">
        <div id="errors" class="errors-box">
          <ul class="errors-list" id="errors-list"></ul>
        </div>
        <div class="new-product-box">
          <h3>Edicion de producto</h3>
          <div class="edit-product-form-box">
           
            <img src=" <%= product.image %> "  class="edit-product-image" alt="imagen de juego" >
           
            <form action="/products/<%=product.id%>/edit?_method=PUT" class="edit-product-form" method="post" enctype="multipart/form-data" id="form">

              <div class="edit-product-div">
                <label for="new-img"class="edit-product-label">Imagen:</label>
                <input type="file" name="new-img" id="new-img" />
              </div>

              <div class="edit-product-div">
                <label for="name" class="edit-product-label">Nombre:</label>
                <input type="text" name="name" id="name" value="<%=locals.oldData ? oldData.name : product.name%>" />
                <% if (locals.errors && errors.name){%>
                  <div class="login-validation-error">
                      <%= errors.name.msg%>
                  </div>
              <%}%>
              </div>
              <div class="edit-product-div">
                <label for="description" class="edit-product-label" >Descripcion:</label>
                <textarea type="textarea" cols="40" rows="10" name="description" id="description"
                  class="edit-product-text-area"><%=locals.oldData ? oldData.description : product.description%></textarea>
                  <% if (locals.errors && errors.description){%>
                    <div class="login-validation-error">
                        <%= errors.description.msg%>
                    </div>
                <%}%>
              </div>
            
              <div class="edit-product-div">
                <label for="category" class="edit-product-label" >Categoria</label>
                <select name="category" id="category">
                  <% for (let i=0 ; i<categories.length ; i++) {%>
                    <option value=<%=categories[i].id%> <%=product.category_id==categories[i].id ?'selected':''%> ><%= categories[i].name %></option>
                  <%}%>
                </select>
                <% if (locals.errors && errors.category){%>
                  <div class="login-validation-error">
                      <%= errors.category.msg%>
                  </div>
              <%}%>
              </div>
              <div class="edit-product-div">
                <label for="console" class="edit-product-label" >Consolas compatibles:</label>
                <div class="consoleType-checkbox">
                  <% for (let i=0 ; i<consoles.length ; i++) {%>
                    <div class="consoleType-checkbox-div">
                      <input type="checkbox" name="consoles" id="consoles"  value="<%=consoles[i].id%>" 
                          <% for (let j=0 ; j<productConsolesArray.length ; j++) {%>
                                <%=productConsolesArray[j]==consoles[i].id?'checked':' '%>
                          <%}%>
                     />
                      <label for="<%=consoles[i].name%>"><%=consoles[i].name%></label>
                    </div>
                    <%}%>


                </div>
               <% if (locals.errors && errors.consoles){%>
                <div class="login-validation-error">
                    <%= errors.consoles.msg%>
                </div>
            <%}%>
              </div>
              <div class="edit-product-div">
                <label for="price" class="edit-product-label" >Precio:</label>
                <input step="any" type="number" name="value" id="value" value="<%=locals.oldData ? oldData.value : product.value%>" />
                <% if (locals.errors && errors.value){%>
                  <div class="login-validation-error">
                      <%= errors.value.msg%>
                  </div>
              <%}%>
              </div>
              <div class="edit-product-div">
                <label for="discount" class="edit-product-label" >Descuento:</label>
                <input step="any" type="number" name="discount" id="discount" value="<%=locals.oldData ? oldData.discount : product.discount%>" />
                <% if (locals.errors && errors.discount){%>
                  <div class="login-validation-error">
                      <%= errors.discount.msg%>
                  </div>
              <%}%>
              </div>
              <div class="edit-product-div">
                <label for="section" class="edit-product-label" >Sección</label>
                <select name="section" id="section">

                  <% for (let i=0 ; i<sections.length ; i++) {%>
                    <option value=<%=sections[i].id%> <%=product.section_id==sections[i].id ?'selected':''%> ><%= sections[i].name %></option>
                  <%}%>
                  
                </select>
                <% if (locals.errors && errors.section){%>
                  <div class="login-validation-error">
                      <%= errors.section.msg%>
                  </div>
              <%}%>
              </div>
              <div class="edit-product-button">
                <button id="add-product-button" class="new-product-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Editar</button>
              </div>
              
            </form>
            <form action="/products/<%=product.id%>?_method=DELETE" method="post">
              <div class="edit-product-button">
                <button class="edit-product-delete-button" type="submit"><i class="fa-solid fa-trash"></i> Borrar</button>
              </div>
            </form>
          </div>
        </div>

      </main>
      <%- include('../partials/footer')%>
      <script  src="/js/productValidator.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>

</html>