<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

<main class="main-register">
  <div class="role-box">
    <div class="title-selling">
        <h1>Lista de Productos</h1>
    </div>
    <div class="main-container">

        <div class="container-selling">
            <section >
              <table description="Product table for edit ">
                <tr>
                  <th>Nombre</th><th>Accion</th>
                </tr>
                <tr>
                  <td><label><p class="label">Crear nuevo producto</p></label></td>
                  <td class="role-td">
                    <form action="/products/new" method="get">
                      <button class="new-product-button" type="submit"><i class="fa-solid fa-plus"></i>  Nuevo Producto</button>
                    </form>
                  </td>
                </tr>
                <% for(let i=0;i<products.length;i++){%>
                 <tr>
                    <td>
                      <h3><%=products[i].name %></h3>
                    </td>
                    <td>  
                        <form action="/products/<%=products[i].id%>/edit" method="get">
                        <button class="new-product-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Editar</button>
                      </form>
                       
                    </td>
                 </tr>

                <%} %>
            </table>
            </section>
        </div>
    </div>
</div>
</main>

  <%- include('../partials/footer') %>
</body>

</html>