<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head')%>


<body>
  <%- include('../partials/header')%>
  <div class="cart-container">

      <div class="cart-section-container">
        <section>
        <div class="cart-tittle">
          <p>Carrito de compras</p>
          <hr class="section-top-line" />
        </div>
        <% for(let i = 0; i<products.length ; i++) { %>
          <article class="cart-article">
          
            <img src="<%=products[i].imageUri%>" alt="game_photo" class="cart-article-image" />
            <div>
              <p><%=products[i].name%></p>
              <p><%=products[i].consoleType%></p>
              <div class="delete-quantity">
                <button class="delete-basket">
                  <em class="fa-solid fa-trash"></em>
                </button>
  
                <p>Cantidad :</p>
                <p class="article-quantity">1</p>
                <form class="quantity-form">
                  <button class="quantity">+</button>
                  <button class="quantity">-</button>
                </form>
              </div>
              <div class="value-container">
                <p>Valor:</p>
                <p>$<%=products[i].value%></p>
              </div>
            </div>
                   </article>


        <% } %>
          
      </section>
      </div>


      <div class="cart-total-container">
        <section>
        <div class="cart-tittle">
          <p>Total</p>
          <hr class="section-top-line" />
        </div>
        <div class="cart-value-description">
          <% for(let i = 0; i<products.length ; i++) { %>
            <div class="cart-value">
              <p><%=products[i].name%></p>
              <p>$<%=products[i].value%></p>
            </div>
            <% } %>
        </div>
        <hr class="total-bottom-line" />
        <strong class="total">
          $<%=totalCart%>
        </strong>
        <form> <input type="submit" class="buy-button" value="Comprar"></form>
       
      </section>
      </div>
  </div>
 </body>
<%- include('../partials/footer')%>
</html>