<!DOCTYPE html>
<html lang="es">
  
  <%- include('../partials/head')%>

  <body>
    <%- include('../partials/header') %>
    <main class="product-main">
      <div class="product-detail-container">
      <div class="logo">
        <img src="<%= product.image %>" alt="Terraria Logo" />
        <h1><%= product.name %></h1>
      </div>

      <section class="product-buy">
        <div class="product-buy-info">
          <div class="product-prices">
            <p class="product-discount">-<%= product.discount %>%</p>
            <p class="product-final-price">$<%= product.final_value %></p>
            <p class="product-price">$<%= product.value %></p>
          </div>
          <form method="post" action=<%=`/products/cart/add/${product.id}` %>>

            <button class="product-addcar" type="submit"
            >Añadir al carrito<em class="fa-solid fa-cart-shopping"></em>
          </form>
         
        </div>
      </section>
    </div>
      <section class="product-info">
        <h2>Sobre este juego</h2>
        <p><%= product.description %></p>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
