<!DOCTYPE html>
<html lang="es">
  
  <%- include('../partials/head')%>

  <body>
    <%- include('../partials/header') %>
    <main class="product-main">
      <div class="product-detail-container">
      <div class="logo">
        <img src="<%= product.imageUri %>" alt="Terraria Logo" />
        <h1><%= product.name %></h1>
      </div>

      <section class="product-buy">
        <div class="product-buy-info">
          <div class="product-prices">
            <p class="product-discount"><%= product.discount %></p>
            <p class="product-final-price"><%= product.discountValue %></p>
            <p class="product-price"><%= product.value %></p>
          </div>
          <a class="product-addcar" href="#"
            >Añadir al carrito<i class="fa-solid fa-cart-shopping"></i
          ></a>
        </div>
      </section>
    </div>
      <section class="product-info">
        <h2>Sobre este juego</h2>
        <p><%= product.description %></p>
      </section>

      <div id="product-slider">
        <ul class="slider">
          <li id="slide1">
            <img src="/images/games/terraria1.png" alt="Terraria Imagen 1" />
          </li>
          <li id="slide2">
            <img src="/images/games/terraria2.avif" alt="Terraria Imagen 2" />
          </li>
          <li id="slide3">
            <img src="/images/games/terraria3.jpg" alt="Terraria Imagen 2" />
          </li>
          <li id="slide4">
            <img src="/images/games/terraria4.jpg" alt="Terraria Imagen 2" />
          </li>
          <li id="slide5">
            <img src="/images/games/terraria5.jpg" alt="Terraria Imagen 2" />
          </li>
        </ul>

        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
          <li>
            <a href="#slide4"></a>
          </li>
          <li>
            <a href="#slide5"></a>
          </li>
        </ul>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
