<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

<main>
    <div class="title-selling">
        <h1>Recomendados</h1>
    </div>
    <div class="main-container">
        <%- include('../partials/adds') %>
        <div class="container-selling">
            <section class="recommended">
                <% for(let i=0;i<products.length;i++){%>
                    <% if(products[i].section == 'recommended'){ %>
                        <div class="card">
                            <div class="face front">
                                <img src="<%=products[i].imageUri%>" alt="imagen-game">
                                <h3><%=products[i].name %></h3>
                            </div>
                            <div class="face back">
                                <h4><%=products[i].name%></h4>
                                <p>Categoría: <%=products[i].category%></p>
                                <div class="link-buy">
                                    <a href="/products/<%=products[i].id%>"><%=products[i].value %> - COMPRAR</a>
                                </div>
                            </div>
                        </div>
                    <%} %>
                <%} %>
            </section>
        </div>
    </div>
</main>

  <%- include('../partials/footer') %>
</body>

</html>