<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/productCart.css" />
  <script src="https://kit.fontawesome.com/544876a7ca.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Changa&family=Kanit:wght@200&family=Roboto:wght@100&family=Taviraj:wght@200&display=swap"
    rel="stylesheet" />

  <title>Product Cart</title>
</head>


<body>
  <%- include('partials/header')%>
  <div class="cart-container">

      <div class="cart-section-container">
        <section>
        <div class="cart-tittle">
          <p>Carrito de compras</p>
          <hr class="section-top-line" />
        </div>
        <% for(let i = 0; i<products.length ; i++) { %>
          <article class="cart-article">
            <img src="<%=products[i].imageUri%>" alt="game_photo" class="cart-article-image" />
            <div>
              <p><%=products[i].name%></p>
              <p><%=products[i].consoleType%></p>
              <div class="delete-quantity">
                <button class="delete-basket">
                  <em class="fa-solid fa-trash"></em>
                </button>
  
                <p>Cantidad :</p>
                <p class="article-quantity">1</p>
                <form class="quantity-form">
                  <button class="quantity">+</button>
                  <button class="quantity">-</button>
                </form>
              </div>
              <div class="value-container">
                <p>Valor:</p>
                <p><%=products[i].value%></p>
              </div>
            </div>
          </article>


        <% } %>
          
      </section>
      </div>


      <div class="cart-total-container">
        <section>
        <div class="cart-tittle">
          <p>Total</p>
          <hr class="section-top-line" />
        </div>
        <div class="cart-value-description">
          <% for(let i = 0; i<products.length ; i++) { %>
            <div class="cart-value">
              <p><%=products[i].name%></p>
              <p>$<%=products[i].value%></p>
            </div>
            <% } %>
        </div>
        <hr class="total-bottom-line" />
        <strong class="total">
          $<%=totalCart%>
        </strong>
        <form> <input type="submit" class="buy-button" value="Comprar"></form>
       
      </section>
      </div>
  </div>
 </body>
<%- include('partials/footer')%>
</html>