
  
  <%- include('../partials/head')%>
  <body class="body-console">
    <%- include('../partials/header')%>
    <a href="/users/adminPanel"><button class="button-back">Atrás</button></a>
    <main class="main-register">
    <div class="role-box" id="gradient-border">
      <h3 class="console-title">Consoles</h3>
     
      <table description="role table" class="responsive-table">
        <tr class="role-th">
          <th>Nombre</th>
          <th>Operaciones</th>
        </tr>
        
       <% for (console in consoles){ %>
        <tr>
          <form action="/consoles/<%=consoles[console].id%>/edit?_method=PUT" method="post">
          <td class="td-input"><input type="text" class="role-input" id="<%=consoles[console].name%>" value="<%=consoles[console].name%>" name="name"></td>
          <td class="role-td">
            <div >
              <button class="new-product-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Editar</button>
            </div>
          </form>
           <div >
              <form action="/consoles/<%=consoles[console].id%>?_method=DELETE" method="post">
                <button class="edit-product-delete-button" type="submit"><i class="fa-solid fa-trash"></i> Borrar</button>
              </form>
           </div>
          </td>
        </tr>
        <%}%>
        <tr>
          <form action="/consoles/add" method="post" id="console-form">
            <td class="td-input"><input type="text" name="name" class="role-input-2" id="new-input-console"></td>            
            <td ><button class="new-product-button" type="submit"><i class="fa-solid fa-plus"></i> Agregar</button></td>
            <td></td>
          </form>  
        </tr>
      </table>
      
    </div>
    <p class="warning-msg" id="warning"></p>
    <% if (locals.errors && errors.name){%>
      <div class="warning-msg" id="warning">
          <%= errors.name.msg%>
      </div>
  <%}%>
  </main>
  <%- include('../partials/footer')%>
  <script type="text/javascript" src="/js/validationConsoles.js"></script>
</body>

