<!DOCTYPE html>
<html lang="en">
  
  <%- include('../partials/head')%>
  <body class="body-register">
    <%- include('../partials/header')%>
    <div id="errors" class="errors-box">
      <ul class="errors-list" id="errors-list"></ul>
    </div>
    <main class="main-register">
    <div class="register-box">
      <h3 class="title">Registro</h3>
      <hr />
      <form class="register-form" id="form" action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="input-box">
          <div class="register-block-inline">
            <div class="register-division">
              <div class="details">
                <label class="details" for="names">Nombres:</label>
              </div>
              <input
                class="details <%= locals.errors && errors.names ? 'is-invalid' : null %>"
                type="text"
                name="names"
                id="names"
                placeholder=" Ingresa tu nombre"
                value="<%= locals.oldData ? oldData.names : null %>"
              />
              <% if (locals.errors && errors.names){%>
                <div class="login-validation-error">
                    <%= errors.names.msg%>
                </div>
            <%}%> 
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="surnames">Apellidos:</label>
              </div>
              <input
                class="details <%= locals.errors && errors.surnames ? 'is-invalid' : null %>"
                type="text"
                name="surnames"
                id="surnames"
                placeholder=" Ingresa tu apellido"
                value="<%= locals.oldData ? oldData.surnames : null %>"
              />
              <% if (locals.errors && errors.surnames){%>
                <div class="login-validation-error">
                    <%= errors.surnames.msg%>
                </div>
              <%}%>
            </div>
          </div>
          <div class="register-block-inline">
            <div class="register-division">
              <div class="details">
                <label class="details" for="password">Contraseña:</label>
              </div>
              <input
                class="details <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                type="password"
                name="password"
                id="password"
                placeholder="Mínimo 6 caracteres"
              />
              <% if (locals.errors && errors.password){%>
                <div class="login-validation-error">
                    <%= errors.password.msg%>
                </div>
              <%}%>
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="phone">Teléfono:</label>
              </div>
              <input
                class="details <%= locals.errors && errors.phone ? 'is-invalid' : null %>"
                type="number"
                name="phone"
                id="phone"
                placeholder=" 1122334455"
                value="<%= locals.oldData ? oldData.phone : null %>"
              />
              <% if (locals.errors && errors.phone){%>
                <div class="login-validation-error">
                    <%= errors.phone.msg%>
                </div>
              <%}%>
            </div>
          </div>
          <div class="register-block-inline">
            <div class="register-division">
              <div class="details">
                <label class="details" for="email">E-mail:</label>
              </div>
              <input
                class="details <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                type="text"
                name="email"
                id="email"
                placeholder=" bestpage@gameshub.com"
                value="<%= locals.oldData ? oldData.email : null %>"
              />
              <% if (locals.errors && errors.email){%>
                <div class="login-validation-error">
                    <%= errors.email.msg%>
                </div>
              <%}%>
            </div>
            <div class="register-division">
              <div class="details">
                <label class="details" for="address">Dirección:</label>
              </div>
              <input
                class="details <%= locals.errors && errors.address ? 'is-invalid' : null %>"
                type="text"
                name="address"
                id="address"
                placeholder=" ej: calle falsa 123"
                value="<%= locals.oldData ? oldData.address : null %>"
              />
              <% if (locals.errors && errors.address){%>
                <div class="login-validation-error">
                    <%= errors.address.msg%>
                </div>
              <%}%>
            </div>
          </div>
          <div class="register-block-inline">
          <div class="register-division">
            <div class="details">
              <label class="details" for="">Imagen de perfil</label>
              <input type="file" name="image" id="image">  
            </div>
          </div>
        </div>
        </div>

        <div >
          <button type="submit" class="buy-button">Registrarse</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('../partials/footer')%>
  <script  src="/js/registerValidator.js"></script>
</body>
</html>
