<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="body-main">
  <%- include('../partials/header') %>
    <main>
        <div class="container-profile" >
            <div class="img-profile">
                <img src="<%= user.image%>" alt="" >
            </div>
            <div class="data-profile">
                <div class="data-profile-label"><p><label><strong>Nombres:</strong></label> <%= user.names%></p></div>
                <div class="data-profile-label"><p><label><strong>Apellidos:</strong></label> <%= user.surnames%></p></div>
                <div class="data-profile-label"><p><label><strong>Email:</strong></label> <%= user.email%></p></div>
                <div class="data-profile-label"><p><label><strong>Direccion:</strong></label> <%= user.address%></p></div>
                <div class="data-profile-label"><p><label><strong>Telefono:</strong></label> <%= user.phone%></p></div>
                <%if(user.role!=undefined){%>
                <div class="data-profile-label"><p><label><strong>Rol:</strong></label> <%= user.role.name%></p></div>
                <%}%>
               
            </div>
            <div class="data-profile">
                
                <% if(user.role!=undefined && user.role.name=='admin'){%>
                    <form action="/users/adminPanel" method="get">
                        <button class="panel-button" type="submit" ><i class="fa-regular fa-pen-to-square"></i> Panel admin</button>
                    </form>
                    
                <%}%>
                <form action="/users/edit/<%=user.id%>" method="get">
                    <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Editar usuario</button>
                </form>
                <form action="/orders/user/<%=user.id%>" method="get">
                    <button class="panel-button" type="submit"><i class="fa-regular fa-pen-to-square"></i> Ordenes</button>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>